@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #40a73f;
  --color-primary-light: #9ED29D;
  --color-primary-dark: #2b872c;
  --color-secondary: #a83dab;
  --color-secondary-dark: #88329c;
  --color-secondary-light: #d19dd2;
  --color-danger: #B00020;
  --color-success: #4CAF50;
  --color-background: #72a971;
}

@layer components {
  .form-input {
    @apply block w-full rounded-md bg-white px-3 py-2 transition-colors duration-100 text-gray-900 outline-1 -outline-offset-1 outline-gray-300 shadow-sm placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary text-sm/6 md:text-base;
  }

  .form-label {
    @apply block text-sm/6 font-medium text-gray-900;
  }

  .button {
    @apply flex justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold text-white shadow-xs hover:bg-primary-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:opacity-50 transition-colors duration-150 cursor-pointer;
  }

  .wrapper {
    @apply max-w-4xl mx-auto px-4 md:px-6;
  }

  .navbar-link {
    @apply text-sm font-semibold cursor-pointer text-gray-500 flex items-center justify-center h-full border-b-2 border-transparent transition-all duration-150 hover:text-gray-900 hover:border-gray-300;
  }

  .navbar-link.active {
    @apply border-primary text-gray-900;
  }
}


html,
body {

}
